name: Build and Push Docker Images
permissions:
  contents: read
  packages: write
  id-token: write

on:
  workflow_run:
    workflows: ["Update build.yaml on new submodule release"]
    types:
      - completed
  push:
    tags:
      - '*'
  workflow_dispatch:
  workflow_call:
    inputs:
      addon:
        description: 'Addon to build (e.g. carconnectivity-addon-edge). If empty, builds both.'
        required: false
        type: string
  
env:
  REPOSITORY: pulpyyyy
  REGISTRY: docker.io
  
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_addon:
    name: Build addon
    runs-on: ubuntu-latest
    strategy:
      matrix:
        addon: ${{ inputs.addon && fromJSON(format('["{0}"]', inputs.addon)) || fromJSON('["carconnectivity-addon", "carconnectivity-addon-edge"]') }}
        
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Get information
        id: info
        uses: home-assistant/actions/helpers/info@master
        with:
          path: "./${{ matrix.addon }}"
          
      - name: Publish builder
        uses: home-assistant/builder@2025.11.0
        with:
          args: |
            --addon \
            --amd64 --aarch64 \
            --docker-hub "${{ env.REGISTRY }}" \
            --target /data/${{ matrix.addon }} \
            --docker-hub ${{ env.REPOSITORY }} \
            --docker-hub-check \
            --docker-user ${{ secrets.DOCKERHUB_USERNAME }} \
            --docker-password ${{ secrets.DOCKERHUB_TOKEN }}
